.navigation-bar{
    color: white;
    background-color: #FF4B4B;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
}
.left-options > .first-options{
    padding-left: 40px;
}
.right-options > .last-options{
    padding-right: 40px;
}
.left-options > .options{
    padding-left: 40px;
}
.right-options > .options{
    padding-right: 40px;
}
.logo{
    z-index: 1;
    top: -60px;
}
.dropdown-box{
    width: fit-content;
    font-size: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: -120px;
    display: none;
    z-index: 1;
    position: relative;
    font-weight: 600;
    height: fit-content;
}
.forum-main:hover .forum-dropdown{
    display: block;
}
.dropdown-options{
    padding: 12px 16px;
}
.dropdown-options:hover{
    background-color: rgba(0,0,0,0.05);;
}

/* small devices (portrait phones) */
/* @media (max-width: 767.98px) { ... } */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991.98px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */
